@import 'base.css';

/* Global utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Transitions for your <router-view> */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.button {

}
